page-login {
  ion-content {
    background-color: lavender;
  }
  h1 {
    padding-bottom: 0%;
    padding-top: 0%;
    text-align: center;
    align-content: center;
    padding: 0%;
  }
  img {
    height: 300px;
    width: 300px;
  }

  .imagem {
    text-align: center;
  }
}
